* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(assets/img/background.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    background-color: #f84d5d;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

}

.button {
    border: 2.5px solid #8E111D !important;
    padding: 7px 28px;
    border-radius: 30px;
    font-family: 'Iceberg', cursive;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
}

.button span {
    color: #FFF;
    font-size: 16px;
}

.content__title {
    display: flex;
    justify-content: center;
    transform: translateY(-120px);

}

.content__title img {
    width: 70%;

}